*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.attribution {
    width: 100vw;
    text-align: center;
    color: hsl(0, 0%, 100%);
}
.attribution a {color: hsl(228, 45%, 44%);}

.screen{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: hsl(216, 12%, 8%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainText{color: hsl(0, 0%, 100%);}
.smallText{color: hsl(217, 12%, 63%);}

.ratingButton{
    display: inline-block;
    width: 2vw;

    background-color: hsl(216, 12%, 54%);
    color: hsl(217, 12%, 63%);
}

#submitButton{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.is--hidden{display: none;}
.is--visible{display: block;}


@media only screen and (min-width: 400px) { /* modelled using desktop in Chrome */
    .attribution {
        position: absolute;
        top: auto;
        bottom: 2.5vh;
        font-size: 3vh;
    }

    #ratingContainer, #thankyouContainer{
        width: 28.4vw;
        height: 51.7vh;
        border-radius: 4vh;

        background-color: hsl(213, 19%, 18%);
    }    

    #submitButton{
        width: 20vw;
        height: 10vh;
    }
}

