*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.attribution {
    width: 100vw;
    text-align: center;
    color: hsl(0, 0%, 100%);
}
.attribution a {color: hsl(228, 45%, 44%);}

.screen{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: hsl(216, 12%, 8%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#star{
    width: 100%;
    height: 100%;
    background-image: url("../assets/icon-star.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.mainText{color: hsl(0, 0%, 100%);}
.smallText{color: hsl(217, 12%, 63%);}

.ratingButton{
    display: inline-block;

    border-radius: 50%;
    overflow: hidden;

    background-color: hsl(211, 20%, 21%);
    color: hsl(217, 12%, 63%);
}

.ratingButton:hover{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.ratingNo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ratingNo, #submitButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratingButton--active{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

#submitButton{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.is--hidden{display: none;}
.is--visible{display: block;}


@media only screen and (min-width: 400px) { /* modelled using desktop in Chrome */
    .attribution {
        position: absolute;
        top: auto;
        bottom: 2.5vh;
        font-size: 3vh;
    }

    #ratingContainer, #thankyouContainer{
        width: 28.4vw;
        height: 51.7vh;
        border-radius: 4vh;

        background-color: hsl(213, 19%, 18%);
    }

    #ratingCard{
        display: grid;
        grid-template-columns: 1.9vw 24.6vw 1.9vw; /* adds to 28.4vw */
        grid-template-rows: 14.6vh 2.8vh 2.2vh 7.8vh 14.2vh 10.1vh; /* adds to 51.7vh */
        align-items: center;
    }    

    .starBox, .mainText, .smallText, .ratingButtonContainer, #submitButton{
        grid-column: 2;
    }

    .starBox{
        grid-row: 1;

        width: 24.6vw;
        height: 4.9vh;
        justify-self: start;
    }

    .mainText{
        grid-row: 2;
        justify-self: start;

        font-family: 'Overpass', sans-serif;
        font-size: 4vh;
        font-weight: 700;
    }
      
    .smallText{
        grid-row: 4;
        justify-self: start;

        font-family: 'Overpass', sans-serif;
        font-size: 2.2vh;
        font-weight: 400;
    }
    
    .ratingButtonContainer{
        grid-row: 5;
        justify-self: center;
    }

    .ratingButton{
        width: 7.25vh;
        height: 7.25vh;

        text-align: center;
        font-family: 'Overpass', sans-serif;
        font-size: 2.2vh;
        font-weight: 400;

        margin-right: 0.75vw;
    }

    .ratingButton:hover{cursor: pointer;}

    #submitButton{
        width: 24.4vw;
        height: 5.6vh;
        border-radius: 5vh;

        grid-row: 6;
        align-self: start;
        justify-self: center;

        text-align: center;
        font-family: 'Overpass', sans-serif;
        font-size: 2.2vh;
        font-weight: 400;
    }

    #submitButton:hover{
        cursor: pointer;
        background-color: hsl(0, 0%, 100%);
        color: hsl(25, 97%, 53%);
    }
}

