*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.attribution {
    width: 100vw;
    text-align: center;
    color: hsl(0, 0%, 100%);

    position: absolute;
    top: auto;
    bottom: 2.5vh;
}
.attribution a {color: hsl(228, 45%, 44%);}

.screen{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: hsl(216, 12%, 8%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#star{
    width: 100%;
    height: 100%;
    background-image: url("../assets/icon-star.svg");
    background-size: 50%;
    background-position: center; 
    background-repeat: no-repeat;
}

.mainText{color: hsl(0, 0%, 100%);}
.smallText{color: hsl(217, 12%, 63%);}

.ratingButton{
    display: inline-block;
    overflow: hidden;
    
    color: hsl(217, 12%, 63%);
}

.ratingButton, .starBox, .youSelected{
    background-color: hsl(211, 20%, 21%);
}

.ratingButton, .starBox{
    border-radius: 50%;
}

.ratingNo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ratingNo, #submitButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratingButton--active{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

#submitButton{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.is--hidden{display: none;}
.is--visible{display: block;}

#ratingContainer, #thankyouContainer{background-color: hsl(213, 19%, 18%);}

#ratingCard{
    display: grid;
    align-items: center;
}    

.starBox, #mainText1, .smallText, .ratingButtonContainer, #submitButton{grid-column: 2;}

.starBox{
    grid-row: 1;

    border-radius: 50%;
    justify-self: start;
}

#mainText1{
    grid-row: 2;
    justify-self: start;
}

.mainText{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

#smallText1{
    grid-row: 4;
    justify-self: start;
}

.smallText{
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.ratingButtonContainer{
    grid-row: 5;
    justify-self: center;
}

.ratingButton{
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

#submitButton{
    border-radius: 5vh;

    grid-row: 6;
    align-self: start;
    justify-self: center;

    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

#thankyouCard{
    display: grid;
    align-items: center;
}

.thanksImageBox, .youSelected, #mainText2{
    grid-column: 1 / 4;
    text-align: center;
}

.thanksImageBox{grid-row: 1;}

#thanksImage{
    width: 100%;
    height: 100%;
    background-image: url("../assets/illustration-thank-you.svg");
    background-position: center; 
    background-repeat: no-repeat;
}

.youSelected{
    grid-row: 2;

    border-radius: 5vh;

    justify-self: center;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.youSelectedInner{
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
}

.youSelectedInner p{
    display: inline;
    color: hsl(25, 97%, 53%);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

#mainText2{
    grid-row: 3;
    align-self: flex-end;
}

#smallText2{
    grid-column: 2;
    grid-row: 4;

    text-align: center;
}

@media only screen and (min-width: 400px) { /* modelled using desktop in Chrome */
    .attribution {font-size: 3vh;}

    #ratingContainer, #thankyouContainer{
        width: 28.4vw;
        height: 51.7vh;
        border-radius: 4vh;
    }
    
    #ratingCard{
        grid-template-columns: 1.9vw 24.6vw 1.9vw; /* adds to 28.4vw */
        grid-template-rows: 14.6vh 2.8vh 2.2vh 7.8vh 14.2vh 10.1vh; /* adds to 51.7vh */
    }    
    
    .starBox{
        width: 6vh;
        height: 6vh;
    }
    
    .mainText{font-size: 4vh;}
    
    .smallText{font-size: 2.2vh;}
    
    .ratingButton{
        width: 7.25vh;
        height: 7.25vh;
    
        font-size: 2.2vh;
    
        margin-right: 0.75vw;
    }
    
    .ratingButton:hover{
        background-color: hsl(217, 12%, 63%);
        color: hsl(0, 0%, 100%);
    
        cursor: pointer;
    }
    
    #submitButton{
        width: 24.4vw;
        height: 5.6vh;
    
        font-size: 2.2vh;
    }
    
    #submitButton:hover{
        cursor: pointer;
        background-color: hsl(0, 0%, 100%);
        color: hsl(25, 97%, 53%);
    }
    
    #thankyouCard{
        grid-template-columns: 1.9vw 24.6vw 1.9vw; /* adds to 28.4vw */
        grid-template-rows: 23.1vh 3.9vh 7.8vh 12.1vh auto; /* adds to 51.7vh */
    }
    
    .thanksImageBox{
        width: 28.4vw;
        height: 23.1vh;
    }
    
    #thanksImage{background-size: 36%;}
    
    .youSelected{
        width: 12.5vw;
        height: 3.9vh;
    }
    
    .youSelectedInner{left: 0.7vw;}
    
    .youSelectedInner p{font-size: 2.2vh;}
}


@media only screen and (max-width: 400px) { /* modelled using iPhone SE in Chrome */
    .attribution {font-size: 3.6vw;}

    #ratingContainer, #thankyouContainer{
        width: 87.8vw;
        height: 53.4vh;
        border-radius: 5vw;
    }

    #ratingCard{
        grid-template-columns: 7.25vw 73.3vw 7.25vw; /* adds to 87.8vw */
        grid-template-rows: 12.8vh 3.8vh 3.4vh 8.5vh 15vh 9.9vh; /* adds to 53.4vh */
    }    

    .starBox{
        width: 6.75vh;
        height: 6.75vh;
    }

    .mainText{font-size: 6.5vw;}

    .smallText{font-size: 3.6vw;}

    .ratingButton{
        width: 11.25vw;
        height: 11.25vw;

        font-size: 4.5vw;
        margin-right: 1.9vw;
    }

    #submitButton{
        width: 70vw;
        height: 6vh;

        font-size: 4.5vw;
    }

    #thankyouCard{
        grid-template-columns: 7.25vw 73.3vw 7.25vw; /* adds to 87.8vw */
        grid-template-rows: 23vh 4.7vh 7.3vh 14.5vh auto; /* adds to 53.4vh */
    }

    .thanksImageBox{
        width: 87.8vw;
        height: 23vh;
    }

    #thanksImage{background-size: 40%;}

    .youSelected{
        width: 42.75vw;
        height: 4.7vh;
    }

    .youSelectedInner{left: 3.4vw;}

    .youSelectedInner p{font-size: 3.5vw;}

    #mainText2{transform: translateY(25%);}
}